.background {
  height: 89vh;
  width: -webkit-fill-available;
  margin-right: 1vw;
  min-height: fit-content;
  @media screen and (max-width: 900px) {
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url("../background-image/about-us-image-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: large;
    font-weight: 600;
  }
}
.gridImage {
  @media screen and (max-width: 900px) {
    display: none;
  }
}