.background {
  height: 89vh;
  width: -webkit-fill-available;
  margin-right: 1vw;
  min-height: fit-content;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: fit-content;
  margin-top: 1vh;
  align-items: stretch;
}

.courseType {
  border-top: solid;
  border-color: #f59f00;
  margin-top: 3vh;
  margin-bottom: 2vh;
}