.my-learning-background {
  height: 91vh;
  width: -webkit-fill-available;
  min-height: fit-content;
  padding-left: 1vw;
  padding-top: 2vh;
}
.my-learning-buttons {
  align-self: flex-end;
  padding-bottom: 1vh;
  padding-right: 1vw;
  margin-top: 0.5%;
  position: relative;
}
.divider {
  width: 0.5vw;
  height: auto;
  display: inline-block;
}
