.NotFoundBackGround {
  height: 80vh;
  width: -webkit-fill-available;
  margin-right: 1vw;
  min-height: fit-content;
  padding-left: 1vw;
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
