.termsBackground {
    height: 91vh;
    width: -webkit-fill-available;
    margin-right: 1vw;
    min-height: fit-content;
    padding-left: 1vw;
    padding-top: 2vh;
  }
  ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .header-button-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  