.nav-link {
  text-decoration: none;
  color: inherit;
  margin-right: 1vw;
  padding: 1vh;
}

.nav-link:hover {
  background-color: #0f0f0f15;
  border-radius: 10px;
}

.nav-link-small {
  text-decoration: none;
  color: inherit;
  padding-right: 1vw;
}

.small-menu {
  display: none;

  @media (max-width: 800px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
  }
}

.outlet {
  height: auto;
  padding-top: 64px;
  background-color: #f7f9f6;
  /* padding-left: 1vw; */
  padding-bottom: 2vh;
  display: flex;

  @media (max-width: 600px) {
    padding-top: 56px;
  }
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  @media (max-width: 800px) {
    display: none;
  }
}
.app-brand {
  display: flex;
  align-items: center;
  font-style: oblique;
  font-kerning: normal;
  font-weight: 600;
  margin: auto;
  margin-left: 0px;
}
.pet-icon {
  color: #1b89ce;
}
.app-name {
  font-size: larger;
  color: #0f0f0f;
  /* background-image: linear-gradient(188deg in hsl, #0a4d67 0%, #1d94de);
  color: transparent;
  background-clip: text; */

  @media (max-width: 800px) {
    display: none;
  }
}

.app-name-small {
  font-size: larger;
  color: #0f0f0f;
  /* background: linear-gradient(188deg in hsl, #0a4d67 0%, #1d94de);
  color: transparent;
  background-clip: text; */
  display: none;

  @media (max-width: 800px) {
    display: flex;
  }
}
