.nav-link {
  text-decoration: none;
  color: #f7f9f6;
  margin-right: 1vw;
  padding: 1vh;
}

.nav-link:hover {
  background-color: #f7f9f615;
  border-radius: 10px;
}

.nav-link-small {
  text-decoration: none;
  color: black;
  padding-right: 1vw;
}

.small-menu {
  display: none;

  @media only screen and (max-width: 800px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
  }
}

.outlet {
  height: auto;
  padding-top: 64px;
  background-color: #f7f9f6;
  /* padding-left: 1vw; */
  padding-bottom: 2vh;
  display: flex;

  @media only screen and (max-width: 600px) {
    padding-top: 56px;
  }
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  @media only screen and (max-width: 800px) {
    display: none;
  }
}
.app-brand {
  display: flex;
  align-items: center;
  font-style: oblique;
  font-kerning: normal;
  font-weight: 600;
  margin: auto;
  margin-left: 0px;
}
.pet-icon {
  color: #1b89ce;
}
.app-name {
  font-size: larger;

  @media only screen and  (max-width: 800px) {
    display: none;
  }
}

.app-name-small {
  font-size: larger;
  display: none;

  @media only screen and (max-width: 800px) {
    display: flex;
  }
}
