.my-buttons {
  justify-content: space-between;
  padding-bottom: 1vh;
  margin-top: 0.5%;
  position: relative;
  display: flex;
  width: 100%;
}
.inner-quiz-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2vh;
  gap: 1vh;

  @media only screen and (max-width: 800px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.alert {
  display: flex;
  justify-content: flex-end;
  width: inherit;
}
